<table class="table">

    <head>
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
        </tr>
    </head>
    <tbody>
        <tr *ngFor="let col of coleccionProductos">
            <th scope="row">1</th>

            <td><img src="{{col.imagen}}" alt="{{col.alt}}"></td>
            <td>{{col.nombre}}</td>
            <td>{{col.precio}}</td>
            <td>{{col.descripcion}}</td>
            <td>{{col.categoria}}</td>

            <!--ACCIONES-->
            <td>
                <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td>
                <button id="btn-eliminar" title="eliminar" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                data-bs-target="#eliminarProducto" (click)="mostrarBorrar(col)">
                    <mat-icon>delete</mat-icon>
                </button> 
            </td>
        </tr>
    </tbody>

</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    Agregar un nuevo producto
</button>

<!-- Modal -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--Titulo del modal-->
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div [formGroup]="producto" class="modal-body">
                <div class="mb-3">
                    <label class="form-label"> Ingrese el nombre del producto</label>
                    <input class="form-control" type="text" formControlName="nombre" placeholder="ej:top coat">
                </div>
                <div class="mb-3">
                    <label class="form-label"> Ingrese el precio del producto</label>
                    <input class="form-control" type="number" formControlName="precio" placeholder="ej:$15.000">
                </div>
                <div class="mb-3">
                    <label class="form-label"> Ingrese la categoria del producto </label>
                    <select class="form-control" type="text" formControlName="categoria" class="place-holder">
                        <option selected> Elija una opción</option>
                        <option value="gel-color">Gel Color</option>
                        <option value="press-on">Press on</option>
                        <option value="kits">Kits galm</option>
                        <option value="gel">Geles</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label"> Ingrese descripcion del producto</label>
                    <input class="form-control" type="text" formControlName="descripcion" placeholder="ej:..">
                </div>
                
                <div class="mb-3">
                    <label class="form-label"> Ingrese foto del producto </label>
                    <input class="form-control" type="text" formControlName="imagen" placeholder="">
                </div>

                <!--Acciones del modal-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>