<table class="table">
<head>
    <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>
        <th scope="col">Acciones</th>
    </tr>
</head>
<tbody>
    <tr *ngFor="let col of coleccionProducto">
        <th scope="row">1</th>

        <td><img src="{{col.imagen}}" alt="{{col.alt}}"></td>
        <td>{{col.nombre}}</td>
        <td>{{col.precio}}</td>
        <td>{{col.descripcion}}</td>
        <td>{{col.categoria}}</td>
        
        <!--ACCIONES-->
        <td>
            <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
        <td>
            <button id="btn-eliminar" title="eliminar" type="button" class="btn btn-outline-danger">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </tr>
</tbody>
</table>
