@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playwrite+DK+Loopet:wght@100..400&family=Rubik+Bubbles&family=Special+Elite&display=swap');

#header {
  width: 100%;
  height: 28rem;
}



.back1 {
  background-image: url("../../../../../assets/inicio/melanies2.png");
  background-size: cover;
  /* Asegura que la imagen cubra toda la página */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
height:100%;
}

/* Titulo uno*/
#titulo1 {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 width: 50%;

  text-align: center; /* Centrar horizontalmente */

  margin-top: 20px;  /* Margen superior para separar del contenido anterior */

  margin-bottom: 20px; /* Margen inferior para separar del contenido siguiente */

  padding: 10px; /* Espacio interno alrededor del título */

  line-height: 1.2; /* Ajusta la altura de línea para mejorar la legibilidad */
}

.titulo {
  display: flex;
  justify-content: center;
  height: 12vh;
  /* Ajusta la altura del contenedor si es necesario */
}



/*CARDS*/

.card {
  width: 190px;
  height: 254px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible; 
 }


 
 .card-img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor sin distorsionarse */
  object-position: center; /* Centra la imagen en caso de recorte */
  border-radius: .5rem;
  transition: .3s ease;
 }
 
 .card-body {
  padding-top: 10%;
 }
 
 svg {
  width: 20px;
  height: 20px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
 }
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
 }
 




/*BACKGROUND 2 (PARA EL CARRUSSEL)*/

.back2 {
  background-image: url("/assets/inicio/back2-copia.png");

  background-size: cover;
  /* Asegura que la imagen cubra toda la página */

  background-position: center;
  /* Centra la imagen */

  background-repeat: no-repeat;
  /* Evita que la imagen se repita */

  height: 500px;
  /* Añade una altura fija temporalmente */

  width: 100%;
  /* Asegura que ocupe todo el ancho */

}


/*contenedor principal del carrussel*/

#carouselInicio {
  width: 80%;
  /* Ajusta el ancho del carrusel */

  margin: 0 auto;
  /* Centra el carrusel horizontalmente */

  overflow: hidden;
  /* Oculta las imágenes fuera del contenedor */

  padding: 20px;
  /* Espacio en los bordes */

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra para darle profundidad */

  border-radius: 10px;
  /* Bordes redondeados */
}


/* Estilo para las imágenes */

.carousel-item img {
  max-width: 90%;
  /* La imagen no será más ancha que el 80% del contenedor */

  max-height: 300px;
  /* La imagen no será más alta que 300px */

  object-fit: contain;
  /* La imagen se mantendrá dentro de estos límites sin distorsionarse */
}


