@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&family=Rubik+Bubbles&family=Special+Elite&display=swap');


.background {
    background-image: url('../../../../../assets/background_inicio1.png');
    background-size: cover;
    /* Ajusta la imagen para que cubra todo el elemento */
    background-position: center;
    /* Centra la imagen en el elemento */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    padding-top: 45px;

}

#titulo1 {
    justify-content: center;
    margin-top: 20%;
    /**/
    color: #F8B227;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

#subtitulo1 {

    justify-content: center;
    width: 52%;
    margin-left: 25%;
    margin-bottom: 20px;

}



.container1 {
    width: 31rem;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25%;
}