

<!--Background 1-->
<body class="background">
  <div class="container text-center">
    <div class="row">
      <div class="col-6">
        <!--TITULO -->
     <h1 id="titulo1">ARMANDO MEDIALUNAS</h1>
      </div>
      <div class="col-5">
        <!--SUBTITULO 
        <h3 id="subtitulo1"> ingredientes frescos y amor en cada bocado </h3> -->
      </div>
    </div>
  </div>
  
  
     <!--TITULO SEGUNDA PARTE
     -->

     <h1>Las mejores promos de Armando Medialunas</h1>
    <!--CARD 1
    <div class="tarjetas" *ngFor="let i of promo">
      <div class="card" style="width: 15%;">
        <img src="../../../../../assets/{{i.img}}" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
    </div>
  
  -->
 
</body>

