

<!--Background 1-->
<body class="background">
  <div class="container text-center">
    <div class="row">
      <div class="col-6">
        <!--TITULO -->
        <img id="titulo1" src="../../../../../assets/titulo1.png" alt="">
      </div>
      <div class="col-5">
        <!--SUBTITULO -->
        <img id="sub1" src="../../../../../assets/armando subtitulo.png" alt="">
      </div>
    </div>
  </div>
  
  
     <!--TITULO SEGUNDA PARTE-->
     <h1>Las mejores promos de Armando Medialunas</h1>
    <!--CARD 1-->
    <div class="tarjetas" *ngFor="let i of promo">
      <div class="card" style="width: 15%;">
        <img src="../../../../../assets/{{i.img}}" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
    </div>


 
</body>

<a href="#" class="btn btn-primary">Go somewhere</a>