<header>
  <img id="back1" src="../../../../assets/portafolio/PORTAFOLIO-BACK.png" alt="">
</header>

<body>
  <div  class="container" >
    <div class="container overflow-hidden text-center">
      <div class="row gx-5">
        <div class="col">
  
  <div class="p-3"><img class="imagen " src="..\assets\portafolio\portafolio.1.png" alt="" >
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <h1 class="titulo">Color Pop</h1>
            <p>
              Un diseño de uñas vibrante y detallado, rodeada por una forma líquida púrpura con picos
              estrellados. Esta fusión de arte de uñas y elementos gráficos crea una composición visualmente
              impresionante,
              perfecta para un portafolio que destaca la creatividad y la destreza en belleza
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden text-center">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3"><img class="imagen" src="..\assets\portafolio\portafolio.2.svg" alt="" >
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <h1 class="titulo">Hawaianas</h1>
            <p>
              De este set se destaca el diseño floral sobre una base rosada. Las uñas, de diferentes longitudes, sostienen
              un tejido
              marrón acanalado. Alrededor de la mano, se observa una forma abstracta y brillante de color púrpura, que
              asemeja una cinta fluida o metálica, creando bucles y puntos en el espacio tridimensional.
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden text-center">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3 "><img class="imagen" src="..\assets\portafolio\portafolio.3.svg" alt="" >
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <h1 class="titulo">Pink</h1>
            <p>
              Las uñas están adornadas con varios anillos en diferentes dedos, añadiendo un toque
              decorativo. Alrededor de la mano, se observa un remolino púrpura brillante, manipulado digitalmente, que da
              la
              impresión de movimiento y fluidez, realzando la calidad artística de la imagen.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>