.example-spacer{
    flex: 1 1 auto;
}

/*corresponden a pantallas más pequeñas -> ej: celulares */
@media(min-width: 300px) and (max-width: 700px){
    mat-toolbar{
        background-color: #000000;
    }
  
    img{
        float: left;
    }
    #menuInicio{
        display: none;
    }

    #menuProducto{
        display: none;
    }
}

/*Encapsula estilos para pantallas más grandes -> ej: computadora, televisor, celular, etc*/
@media (min-width:700px){
    mat-toolbar{
        background-color:  #000000;
    }

    img{
        float: left;
        
    }

    #menuSecciones{
        display: none;
    }
}

/*SECCIONES DEL NAVBAR*/
.secciones{
    margin-left: 6%;
    border-radius: 6px;
    color: #C21292;
    animation: brillo 1.5s infinite alternate;
}
@keyframes brillo {
    from {
        box-shadow: 0 0 10px #C21292 ;
    }
    to {
        box-shadow: 0 0 20px #ca3bdd;
    }
}